@model Clinic.Models.Admin
@{
    ViewData["Title"] = "Create";

}

<link rel="stylesheet" href="~/css/window.css" />
<div class="window-wrapper">
    <div class="window" style="width:500px;">
            <div class="header">
             Profile
                <a href="/home" class="btn-X">X</a>
            </div>
            <div class="body">
                <br />
                <div class="row">
                    <div class="col-lg-7">  
                        <div>First Name: @Model.FirstName </div>
                       <div>Middle Name:   @Model.MiddleName</div>
                      <div>Last Name: @Model.LastName</div>   
                    </div>
                    <div class="col-lg-5">
                     
                    </div>
                    <div class="col-lg-7">
                        <div>Email: @Model.Email</div>
                        <div>Phone: @Model.Phone</div>
                        <div>Mobile: @Model.Mobile</div>            
                        <br />
                        <br />
                    </div>
                  </div>
                </div>
            <div class="footer">
              
                    <form asp-action="Edit" method="get">
                        <input type="submit" value="Edit" class="btn btn-success" />
                    </form>



            </div>

                </div>
            </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

