@model IEnumerable<Clinic.Models.Consultation>

@{
    ViewData["Title"] = "Index";
      string Role = (string)ViewData["Role"];
}
<style>
    td {
        padding: 10px 8px;
        width: 15%;
    }

    th {
        padding: 10px 8px;
        width: 15%;
    }
</style>

<div class="table1" style=" background-color: rgba(0, 148, 255, 0.5);">
    <table width="100%" class="all-table-th">

        <tr>
            <th>
                @Html..DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html..DisplayNameFor(model => model.Title)
            </th>
            @if (Role == "Admin" || Role == "Patient")
            {
                <th>
                    Doctor
                </th>
            }
            @if (Role == "Admin" || Role == "Doctor")
            {
                <th>
                    Patient
                </th>
            }

            <th style="width:10%">
                @Html..DisplayNameFor(model => model.Temperature)
            </th>
            <th style="width:13%" >
                @Html..DisplayNameFor(model => model.BloodPressure)
            </th>
            <th  >
                @Html..DisplayNameFor(model => model.Cost)
            </th>
            <th style="width:25%"></th>
        </tr>
    </table>
    <br />
    @foreach (var item in Model)
    {<table class="all-table">
         <tr>
             <td class="time">
              @item.Date.ToShortDateString()

             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.Title)
             </td>

             @if (Role == "Admin" || Role == "Patient")
             {
                 <td>
                     @item.Doctor.DisplayName
                 </td>
             }

             @if (Role == "Admin" || Role == "Doctor")
             {
                 <td>
                     @item.Patient.DisplayName
                 </td>
             }
             <td style="width:10%">
                 @Html.DisplayFor(modelItem => item.Temperature)
             </td>
             <td style="width:13%">
                 @Html.DisplayFor(modelItem => item.BloodPressure)
             </td>
             <td  >
                 @Html.DisplayFor(modelItem => item.Cost)
             </td>

             <td style="width:25%">
                 <form method="get">
                   
                         <button type="submit" class="btn btn-success " asp-action="Edit" asp-route-id="@item.Id">Edit</button>

                     <button type="submit" class="btn btn-primary " asp-action="Details" asp-route-id="@item.Id">Details</button>
                    
                         <button type="submit" class="btn btn-danger " asp-action="Delete" asp-route-id="@item.Id">Delete</button>


                 </form>

             </td>
         </tr>
        </table>
    }


</div>