@model SearchReports

@{
    ViewData["Title"] = "Inbox";

}
<style>
    .window {
        width: 80%;
    }

    .body {
        min-height: initial;
    }

    .header {
        font-size: 20px;
        font-family: Calibri;
        padding: 5px 10px;
    }

    .txt {
        color: black;
    }

    hr {
        border-color: wheat;
    }
</style>
<div class="window-wrapper">
    <div class="window">
        <form asp-action="Index" method="get">
            <div class="header">
                Search Reports
            </div>
            <div class="body" style="padding-left:10px;padding-right:10px;">
                <div class="row">
                    <div class=" col-lg-3 form-group">
                        <label class="control-label">Patient</label>
                        <select asp-for="Patient" class="form-control ss" asp-items="@Model.Patients" ></select>
                    </div>
                    <div class=" col-lg-3 form-group">
                        <label class="control-label">Doctor</label>
                        <select asp-for="Doctor" class="form-control ss" asp-items="@Model.Doctors"></select>
                    </div>
                    <div class="col-lg-3 form-group">
                        <label class="control-label">Date From</label>
                        <input asp-for="DateFrom" class="form-control" value="@Model.DateTo.ToString("yyyy-MM-dd")" />
                    </div>
                    <div class="col-lg-3 form-group">
                        <label class="control-label">Date To</label>
                        <input asp-for="DateTo" class="form-control" value="@Model.DateTo.ToString("yyyy-MM-dd")" />
                    </div>

                </div>
                <button type="submit" class="btn btn-success">Search</button>
            </div>

        </form>
    </div>
    <br /><br />

    <div class="window">
        <div class="header" style=" padding-left:50px;">
            <div class="row">
                <div class="col-2">
                    Patient Id
                </div>
                <div class="col-2">
                    Patient
                </div>
                <div class="col-2">
                    Doctor
                </div>
                <div class="col-3">
                    Date
                </div>
                <div class="col-3">
                    Treatment
                </div>
            </div>
        </div>
        <div class="body" style="padding-bottom:30px;  padding-left:40px;">

            @foreach (var item in Model.Reports)
            {
            <div class="row ">
                <div class="col-2">
                    @Html.DisplayFor(modelItem => item.Patient.Id)
                </div>
                <div class="col-2">
                    @Html.DisplayFor(modelItem => item.Patient.DisplayName)
                </div>
                <div class="col-2">
                    @Html.DisplayFor(modelItem => item.Doctor.DisplayName)
                </div>
                <div class="col-3">
                    @Html.DisplayFor(modelItem => item.Date)
                </div>
                <div class="col-3">
                    @Html.DisplayFor(modelItem => item.Consultation.Title)
                </div>
            </div>
                   
                


            }

        </div>
    </div>
</div>



















