@model Clinic.Models.Doctor

@{
    ViewData["Title"] = "Edit";

}

<link rel="stylesheet" href="~/css/window.css" />
<div class="window-wrapper">
    <div class="window">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div class="header">
            Edit Doctor's Profile
                <a  href="/home"   class="btn-X">X</a>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="column">
                            <div class="form-group">
                                <label asp-for="@Model.FirstName" class="control-label"></label>
                                <input asp-for="@Model.FirstName" class="form-control" value="@Model.FirstName" />
                                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.MiddleName" class="control-label"></label>
                                <input asp-for="@Model.MiddleName" class="form-control" value="@Model.MiddleName" />
                                <span asp-validation-for="@Model.MiddleName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.LastName" class="control-label"></label>
                                <input asp-for="@Model.LastName" class="form-control" value="@Model.LastName" />
                                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label class="control-label" asp-for="Phone"></label>
                                <input asp-for="Phone" class="form-control" value="@Model.Phone" />
                                <span asp-validation-for="Phone" class="text-danger"></span>

                            </div>
                            <div class="form-group">
                                <label asp-for="Mobile"></label>
                                <input asp-for="Mobile" class="form-control" value="@Model.Mobile" />
                                <span asp-validation-for="Mobile" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="column">
                            <div class="form-group">
                                <label asp-for="DisplayName" class="control-label"></label>
                                <input asp-for="DisplayName" class="form-control" value="@Model.DisplayName" />
                                <span asp-validation-for="DisplayName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Speciality" class="control-label"></label>
                                <input asp-for="Speciality" class="form-control" value="@Model.Speciality" />
                                <span asp-validation-for="Speciality" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="Time" class="control-label"></label>
                                <input asp-for="Time" class="form-control" value="@Model.Time" />
                                <span asp-validation-for="Time" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Address"></label>
                                <input asp-for="Address" class="form-control" value="@Model.Address" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Gender" class="control-label"></label>
                                <div class="form-control" style="background-color:inherit;border:none">
                                    <label class="containerRadio">
                                        Male
                                        @if(Model.Gender=="Male")
                                        {
                                        <input class="inputRadio" type="radio" checked="checked" name="Gender" value="Male">
                                        }
                                        <input class="inputRadio" type="radio" name="Gender" value="Male">
                                        <span class="checkmark"></span>
                                    </label>

                                    <label class="containerRadio" style="float:right;">
                                        Female
                                        @if(Model.Gender=="Female")
                                        {
                                        <input class="inputRadio" type="radio" checked="checked" name="Gender" value="Female">
                                        }
                                        <input class="inputRadio" type="radio" name="Gender" value="Female">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="column">

                            <br />
                            <div class="form-group">
                                <div class="pt-img">
                                    <img id="blah" src="~/images/@Model.Image" width="100%" height="100%" style="border-radius:20px;" />
                                </div>
                                <br />
                                <br />
                                <center>
                                    <input type='file' onchange="readURL(this);" name="file" id="file" class="inputfile" />

                                    <label for="file">choose an image</label>
                                </center>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="column">
                            <h3>About</h3>

                            <div class="form-group">
                                <textarea asp-for="About" rows="10" style="width:90%" value="@Model.About"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer">

                <input type="submit" value="Save" class="btn btn-success" />
                <input type="hidden" name="Id" value="@Model.Id" />
                <input type="hidden" asp-for="Doctor_Id" value="@Model.Doctor_Id" />
                <input type="hidden" asp-for="Image" value="@Model.Image" />
                <input type="hidden" asp-for="Email" value="@Model.Email" />

            </div>
        </form>
    </div>
</div>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<h1>@ViewData["Error"]</h1>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    ;
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>