@model SearchDoctor

@{
    ViewData["Title"] = "Search";
    SelectListItem Asc = new SelectListItem() { Value = "asc", Text = "Ascending" };
    SelectListItem Desc = new SelectListItem() { Value = "desc", Text = "Descending" };
    if (Model.Order=="desc")
    {
        Desc.Selected = true;
    }
    else
    {
        Asc.Selected = true;
    }
    SelectListItem[] Orders = { Asc, Desc };
    var X = "";
    if (Model.SearchId != 0)
    {
        X = "" + Model.SearchId;
    }


}
<style>
    .window {
        width: initial;
    }

    .col-lg-9 {
        padding-left: 10px;
    }

    .col-lg-3 {
        text-align: left;
    }
</style>
<div class="window-wrapper" style="padding-top:10px;">
    <div style="text-align:left;display:inline-block;min-width:80%;">
        <div class="row">
            <div class="col-lg-3 col-md-3 ">
                <div class="window">
                    <form asp-action="Search" method="get">
                        <div class="header">
                            Search Doctors
                        </div>
                        <div class="body" style="padding-left:10px;padding-right:10px;">
                            <div class="form-group">
                                <label class="control-label">Id</label>
                                <input asp-for="SearchId" class="form-control" type="text" value="@X" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">First Name</label>
                                <input asp-for="FirstName" class="form-control" value="@Model.FirstName" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Middle Name</label>
                                <input asp-for="MiddleName" class="form-control" value="@Model.MiddleName" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Last Name</label>
                                <input asp-for="LastName" class="form-control" value="@Model.LastName" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Speciality</label>
                                <input asp-for="Speciality" class="form-control" value="@Model.Speciality" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Order</label>
                                <select asp-for="Order" class="form-control ss" asp-items="@Orders"></select>
                            </div>


                        </div>
                        <div class="footer">
                            <button type="submit" class="btn btn-success">Search</button>
                        </div>
                    </form>
                </div>

            </div>
            <div class="col-lg-9 col-md-9 ">
                <div class="window" style="width:100%;">
                    <div class="header">
                        Results
                    </div>
                    <div class="body" style="min-height:470px;">
                        <div style="font-size:15px;padding-bottom:10px;">Click on any search entry to view the profile of the doctor</div>

                        @foreach (var item in Model.Doctors)
                        {

                            <form asp-action="Details" asp-route-id="@item.Id" onclick="Show(@item.Id);">
                                <div class="srch-div" style="width:90%;margin-bottom:3px;">
                                    <table style="width:100%">
                                        <tr>
                                            <td style="width:20%">
                                                <img src="~/images/@item.Image" class="srch-img" />
                                            </td>
                                            <td>
                                                <div style="padding-left:20px;padding-bottom:5px;padding-top:5px;font-size:15px;">

                                                    <div style="font-size:20px;color:rgb(0,0,250);">@Html.DisplayFor(modelItem => item.DisplayName)</div>

                                                    Doctor Id: @item.Id
                                                    <br />
                                                    Speciality :@Html.DisplayFor(modelItem => item.Speciality)
                                                    <br>
                                                    Phone Number:  @Html.DisplayFor(modelItem => item.User.PhoneNumber)
                                                    <br />
                                                    Available periods: @item.Time
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </form>
                            <div class="modal fade" id="@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle" style="font-size:25px">Doctor's Profile</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" style="padding-bottom:40px;">
                                            <div class="row">
                                                <div class="col-lg-7">
                                                    <h2>@item.DisplayName</h2>
                                                    <div>Full Name: @item.FirstName @item.MiddleName @item.LastName</div>
                                                    <p>@item.About</p>
                                                </div>
                                                <div class="col-lg-5">
                                                    <img src="~/images/@item.Image" width="250" height="250" style="border-radius:5px;" />
                                                </div>
                                                <div class="col-lg-7">
                                                    <div>Id: @item.Id</div>
                                                    <div>Username: @item.User.UserName</div>
                                                    <div>Email: @item.User.Email</div>
                                                    <div>Specilaity: @item.Speciality</div>
                                                    <div>Phone: @item.User.PhoneNumber</div>
                                                    <div>Mobile: @item.Mobile</div>
                                                    <div>Address: @item.Address</div>
                                                    <div>Time: @item.Time</div>
                                                </div>
                                                <div class="col-lg-5">
                                                    <br />
                                                    <br />
                                                    @if ((string)ViewData["Role"] == "Admin")
                                                    {
                                                        <a asp-controller="Doctors" asp-action="Edit" class="a2" asp-route-id="@item.Id">Edit Profile</a><br />
                                                        <a href="javascript:void(0)" class="a2" onclick="Remove('@item.User.Id')" ;">Remove Doctor</a><br />
                                                        <a href="javascript:void(0)" class="a2" onclick="ChangePassword('@item.User.Id')" ;">Reset Password</a>
                                                    }


                                                </div>
                                            </div>
                                            <div class="modal fade" id="@item.User.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content" style="border-radius:10px;">
                                                        <div class="modal-header" style="background-color: rgba(240, 0, 0, 0.85);border-top-left-radius:10px;border-top-right-radius:10px;">
                                                            <h5 class="modal-title" id="exampleModalLongTitle" style="font-size:25px">Remove Doctor</h5>
                                                            <button type="button" class="close" onclick="CloseDelete('@item.User.Id')" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h3> Are you sure you want to delete this doctor?</h3>
                                                            <h4>Name:  @item.DisplayName</h4>
                                                            <h4>Doctor Id: @item.Id</h4>
                                                        </div>
                                                        <div class="modal-footer " style="background-color: rgba(255, 0, 0, 0.8);border-bottom-left-radius:10px;border-bottom-right-radius:10px;">
                                                            <div style="text-align:center;display:inline-block;width:100%">
                                                                <form asp-action="Delete" method="post">
                                                                    <button class="btn btn-primary">Yes</button>
                                                                    <input type="hidden" name="Id" value="@item.Id" />
                                                                </form>
                                                                <button class="btn btn-danger" onclick="CloseDelete('@item.User.Id');">No</button>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal fade" id="@("ChangePassword"+item.User.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content" style="border-radius:10px;">
                                                        <div class="modal-header" style="background-color: rgba(0,128,0, 0.9);border-top-left-radius:10px;border-top-right-radius:10px;">
                                                            <h5 class="modal-title" id="exampleModalLongTitle" style="font-size:25px">Reset Password</h5>
                                                            <button type="button" class="close" onclick="CloseReset('@item.User.Id')" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <form asp-action="ResetPassword"      method="post">
                                                            <div class="modal-body">
                                                                <div class="form-group">
                                                                    <label>Old Password</label>
                                                                    <input type="password" name="OldPassword" class="form-control" />
                                                                    
                                                                </div>
                                                                <div class="form-group">
                                                                    <label >New Password</label>
                                                                    <input type="password" name="NewPassword" class="form-control" />
                                                                  
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>ConfirmPassword</label>
                                                                    <input type="password" name="ConfirmPassword" class="form-control" />
                                                                    
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer " style="background-color: rgba(0,148,0, 0.9);border-bottom-left-radius:10px;border-bottom-right-radius:10px;">
                                                                <div style="text-align:center;display:inline-block;width:100%">
                                                                    <input type="hidden" name="id" value="@item.Id" />
                                                                    <button class="btn btn-primary">Save</button>
                                                                    <button class="btn btn-danger" onclick="CloseReset('@item.User.Id');">Close</button>
                                                                </div>
                                                                  
                                                                </div>
                                                        </form>
                                                    </div>
                                                    </div>
                                                </div>
                                          
                                        </div>
                                        <div class="modal-footer" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript">
    function Show(id) {
        $("#" + id).modal();
        }
    function Remove(id) {   
          $("#" + id).modal();
        }
    function CloseDelete(id) {
        $("#"+id).modal('hide');
        }
    function ChangePassword(id) {   
          $("#ChangePassword" + id).modal();
        }
    function CloseReset(id) {
              $("#ChangePassword" + id).modal('hide');
    }
</script>

<style>
     


.a2,.a2:after{
    color:blue;
}
.a2:hover{
    color:dodgerblue;
}


</style>
 